/Ejemplonumerouno/nbproject/private/
/Ejemplonumerouno/build/
/Deber/nbproject/private/
/Cedula/nbproject/private/
/Cedula/build/
/series/nbproject/private/
/series/build/
/Tokens/nbproject/private/
/Tokens/build/
/Trabajadores/nbproject/private/
/Trabajadores/build/
/Deber/build/
/Prueba/nbproject/private/
/conexionBDD/nbproject/private/
/conexionBDD/build/
/Herencias/nbproject/private/
/Herencias/build/
/Deber_figuras/nbproject/private/
/Deber_figuras/build/